dataset/

road-pt/

venv/

__pycache__/

logs

!road/cache/*/gen_dets*.log
!road/cache/*/tubeing*.log
!road/cache/*.json
road/cache/*/*.pkl
road/cache/*/*/*.pkl
road/cache/*/*/*/*.pkl
road/cache/*/*.pth

3D-RetinaNet/kinetics-pt/*.pth
